.add-customer {
    padding: 1% ;
  }
  
  .label {
    display: flex;
    align-items: center;
  }
  .input {
    display: flex;
    justify-content: flex-end;
  }
  
  .label-input {
    padding: 3% 0;
    display: flex;
    justify-content: space-between;
  }